.header-home {
    padding-bottom: 35px;
}
.header-home img {

    width: 400px;
    margin: 60px 0 10px 30px;
   
}

.header-home form input {
    width: 40%;
    height: 115%;
    margin: 10px 0px 0px 30px;
    font-size: 25px;

}

.header-home  h4 {
    padding-left: 64px;
    display: inline;
    font-size: var(--cuerpo-de-t);
    font-weight: normal;
}
.header-home  h4 i{
    display: inline;
}

.header-home nav ul {
    list-style: none;
    padding: 26px 0 0 0;
    padding-bottom: 16px;
   
}


.header-home nav ul li a{
    color: black;
    text-decoration: none;
    font-size: var(--cuerpo-de-t);

} 
.header-home nav .segunda-lista i{
    display: inline;
}

.header-home figure img{
    display: none;
}

 .header-home .logo-busqueda {
   border: 1px solid black;
    background-color: var(--Grisclaro);
    width: 49px;
    height: 49px;
    margin: 1px 0px 10px 30px;
    padding-left: 0.5px;
    text-align: center;
    line-height: 51px;
}
.header-home .logo-busqueda i {
   font-size: 23px;
}

.burger-menu {
    background-color: var(--celeste);
    text-align: center;
    width: 89px;
    height: 89px;
    margin-left: 45%;
    border-radius: 12px;
   
}
.burger-menu i {
    padding-top: 20px;
    color: var(--Grisclaro);
    font-size:49px ;
}



/*main*/
.main-home {
   padding:  25px 44px;
   text-align: center;
   
}
.main-home section {
   margin: 5px 0px 5px 0px;
   background-color:  var(--fondo);
}
.main-home section h4 {
    font-size: var(--titulares);

}
.main-home article {
    width: 100%;
    padding-bottom: 52px;
}
.main-home section img {
   
}
.main-home section  .precios-home {
 font-size: var(--precios);

}
.main-home section  .descuentos-home {
    font-size: var(--descuentos);
 
}
.main-home section  .descripcion-home {
    font-size: var(--descripciones);
}


/*Tablets*/

@media  (min-width: 768px) and (max-width : 1024px) {
    .header-home {
    }
    .header-home img {}
    .header-home form {}
    .header-home form input {}
    .header-home form .burger-menu{}
    .header-home form .burger-menu i {}
    .header-home h4 {}
    .header-home h4 i {}



    .header-home nav {}
    .header-home nav ul {}
    .header-home nav ul li{}
    .header-home nav ul li a{}
    .header-home nav .segunda-lista {}
    .header-home nav .segunda-lista li {}
    .header-home nav .segunda-lista li a {}



    .header-home .burger-menu {}
    .header-home .burger-menu i{}
    .header-home figure {}
    .header-home figure img {}


 
 
 
 
    /*MAIN*/

    .main-home{
        background-color: red;
    }
    .main-home section {}
    .main-home section h4{}
    .main-home section article{}
    .main-home section article img{}
    .main-home section article h5{}
    .main-home section article .precios-home{}
    .main-home section article .descuentos-home{}
    .main-home section article .descripcion-home{}
    .main-home p {}
}










/*Deskopt*/

@media  (min-width:1025px ) {
    .main-home {
        background-color: black;
    }
}