.header-home {}

.header-home img {

    width: 42%;

    margin: 20px 0 -1px 10px;
}

.header-home form {
    display: flex;
    justify-content: end;
    /* align-items: start; */
    width: 46%;
    margin-left: 49%;
    position: relative;
    top: -44px;
}

.header-home form input {

    padding: 5px;

    width: 356%;

    border-radius: 5px;

    border: none;

    /* display: inline; */
}


.header-home .logo-busqueda {
    position: relative;
    left: -19px;
    background-color: white;
}


.header-home .logo-busqueda i {
    font-size: 16px;
    color: var(--Grisoscuro);
    margin-top: 4px;
    /* margin-left: 10px; */
}

.header-home h4 {
    padding-left: 21px;
    display: inline-block;
    font-size: var(--cuerpo-de-t);
    font-weight: normal;
}

.header-home h4 i {
    display: inline;
}

.header-home nav ul {
    list-style: none;
    padding: 26px 0 0 0;
    padding-bottom: 16px;
    display: none;
}


.header-home nav ul li a {
    color: black;
    text-decoration: none;
    font-size: var(--cuerpo-de-t);

}

.header-home nav .segunda-lista i {
    display: inline;
}

.burger-menu {
    background-color: var(--celeste);
    text-align: center;
    width: 50px;
    height: 50px;
    margin-left: 41%;
    margin-top: 10px;
    border-radius: 12px;
}

.burger-menu i {
    padding-top: 11px;
    color: var(--Grisclaro);
    font-size: 30px;
}

.header-home figure img {
    display: block;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
}










/*Tablets*/

@media (min-width: 360px) and (max-width:768px) {
    .header-home {
        /* width: 100%; */
    }

    .header-home img {
        margin: 27px 2px;
        margin-right: 0px;
        width: 29.43%;
    }

    .header-home form {
        width: 28%;
        position: absolute;
        display: inline-flex;
        margin-left: 0%;
        top: 58px;
    }

    .header-home form input {
        padding: 2px;
        /* border-radius: 0px; */
        border: none;
    }

    .header-home .logo-busqueda {
        border: solid 0.2px;
        background-color: var(--Grisclaro);
        margin-left: 2%;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-home .logo-busqueda i {}


    .header-home form .burger-menu {}

    .header-home form .burger-menu i {}

    .header-home h4 {
        position: absolute;
        width: 42%;
        font-size: small;
        top: 8%;
        right: 0%;
        padding: 0px;
        /* margin-top: -16px; */
    }

    .header-home h4 i {}



    .header-home nav {
        display: flex;
        width: 117%;
    }

    .header-home nav ul {
        display: inline-flex;
        width: 48%;
        list-style: none;
        font-size: small;
    }

    .header-home nav ul li {
        margin-left: 22px;
    }

    .header-home nav ul li a {
        text-decoration: none;
        color: black;
    }

    .header-home nav .segunda-lista {
        /* margin-left: 18%; */
        /* position: absolute; */
    }

    .header-home nav .segunda-lista li {}

    .header-home nav .segunda-lista li a {}



    .header-home .burger-menu {
        display: none;
    }

    .header-home .burger-menu i {}

    .header-home figure {}

    .header-home figure img {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }

}


/*Deskopt*/

@media (min-width:770px) {
    .header-home {
        /* width: 100%; */
    }

    .header-home img {
        margin: 27px 14px;
        margin-right: 0px;
        width: 29.43%;
    }

    .header-home form {
        width: 300px;
        position: absolute;
        display: inline-flex;
        margin-left: 6%;
        top: 58px;
    }

    .header-home form input {
        padding: 2px;
        /* border-radius: 0px; */
        border: none;
    }

    .header-home .logo-busqueda {
        border: solid 0.2px;
        background-color: var(--Grisclaro);
        margin-left: 2%;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-home .logo-busqueda i {}


    .header-home form .burger-menu {}

    .header-home form .burger-menu i {}

    .header-home h4 {
        position: absolute;
        width: 42%;
        font-size: small;
        top: 8%;
        left: 70%;
        padding: 0px;
        /* margin-top: -16px; */
    }

    .header-home h4 i {}



    .header-home nav {
        display: flex;
        width: 117%;
    }

    .header-home nav ul {
        display: inline-flex;
        width: 48%;
        list-style: none;
        font-size: small;
    }

    .header-home nav ul li {
        margin-left: 22px;
    }

    .header-home nav ul li a {
        text-decoration: none;
        color: black;
    }

    .header-home nav .segunda-lista {
        margin-left: 68%;
        position: absolute;
    }

    .header-home nav .segunda-lista li {}

    .header-home nav .segunda-lista li a {}



    .header-home .burger-menu {
        display: none;
    }

    .header-home .burger-menu i {}

    .header-home figure {}

    .header-home figure img {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
    }




}