.header-home {
    background-color: var(--amarillo);
    padding-bottom: 35px;
    }

.header-home img {

    width: 400px;
    margin: 60px 0 10px 30px;
   
}

.header-home form input {
    width: 40%;
    height: 115%;
    margin: 10px 0px 0px 30px;
    font-size: 25px;

}

.header-home  h4 {
    padding-left: 64px;
    display: inline;
    font-size: var(--cuerpo-de-t);
    font-weight: normal;
}
.header-home  h4 i{
    display: inline;
}

.header-home nav ul {
    list-style: none;
    padding: 26px 0 0 0;
    padding-bottom: 16px;
   
}


.header-home nav ul li a{
    color: black;
    text-decoration: none;
    font-size: var(--cuerpo-de-t);

} 
.header-home nav .segunda-lista i{
    display: inline;
}

.header-home figure img{
    display: none;
}

 .header-home .logo-busqueda {
   border: 1px solid black;
    background-color: var(--Grisclaro);
    width: 49px;
    height: 49px;
    margin: 1px 0px 10px 30px;
    padding-left: 0.5px;
    text-align: center;
    line-height: 51px;
}
.header-home .logo-busqueda i {
   font-size: 23px;
}

.burger-menu {
    background-color: var(--celeste);
    text-align: center;
    width: 89px;
    height: 89px;
    margin-left: 45%;
    border-radius: 12px;
   
}
.burger-menu i {
    padding-top: 20px;
    color: var(--Grisclaro);
    font-size:49px ;
}

