

.main-home ,.footer-home {
    background-color: var(--Grisclaro);
  
  }

  
/*main*/
.main-home {
    padding:  25px 44px;
    text-align: center;
    
 }
 .main-home section {
    margin: 5px 0px 5px 0px;
    background-color:  var(--fondo);
 }
 .main-home section h4 {
     font-size: var(--titulares);
     background-color: var(--Grisclaro);
 }
 .main-home article {
     width: 100%;
     padding-bottom: 52px;
 }
 .main-home section img {
    
 }
 .main-home section  .precios-home {
  font-size: var(--precios);
 
 }
 .main-home section  .descuentos-home {
     font-size: var(--descuentos);
  
 }
 .main-home section  .descripcion-home {
     font-size: var(--descripciones);
 }
 