/*main*/
.main-home {

    width: 90%;

    margin: 0 auto;
}

.main-home section {
    margin: 5px 0px 5px 0px;
    background-color: var(--fondo);
    display: flex;
    flex-wrap: wrap;
}

.main-home section h4 {
    font-size: var(--titulares);

}

.main-home article {

    border-top: 1px solid #ebebeb;

    padding: 38px;

    /* margin-left: 87px; */

    /* display: flex; */

    justify-content: center;

    margin-bottom: 10px;

    /* flex: 1; */

}

.main-home section img {
    width: 100%;
    /* height: auto; */
}

.main-home section article {}

.main-home section article div {
    width: 33px;
    height: 33px;
    border: 1px solid var(--Verde);
    border-radius: 50%;
    margin-left: 88%;
    text-align: center;
}

.main-home section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;

    background-color: #FFF;
    color: var(--Verde);
    margin: 3px;
}

.main-home section .precios-home {
    font-size: var(--precios);
    display: inline-block;
}

.main-home section .descuentos-home {
    font-size: var(--descuentos);
    color: var(--Verde);
    font-weight: lighter;
    display: inline-block;
}

.main-home section .descripcion-home {
    font-size: var(--descripciones);
    margin-top: 10px;
    /* display: none; */
    font-weight: lighter;
    color: var(--Grisoscuro);
}

@media (min-width: 360px) and (max-width:768px) {

    /*MAIN*/

    .main-home {

        justify-content: center;

        /* display: flex; */

        /* flex-wrap: wrap; */

        /* align-content: center; */

        /* flex-grow: 1; */

        /* width: 100%; */
    }

    .main-home section {
        background-color: var(--Grisclaro);
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .main-home section h4 {
        /* height: 0px; */
        /* margin-bottom: 2px; */
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        font-size: var(--titulares);
    }

    .main-home section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        padding: 20px;
        margin: 19px 16px;
        background-color: white;
    }

    .main-home section article img {
        width: 100%;
    }


    .main-home section article div {
        width: 33px;
        height: 33px;
        border: 1px solid var(--Verde);
        border-radius: 50%;
        margin-left: 88%;
        text-align: center;
    }

    .main-home section article div i {
        display: block;
        font-size: 16px;
        padding: 5px;

        background-color: #FFF;
        color: var(--Verde);
        margin: 3px;
    }

    .precios-home {
        font-size: var(--precios);
        display: inline-block;
    }

    .main-home section .descuentos-home {
        font-size: var(--descuentos);
        color: var(--Verde);
        font-weight: lighter;
        display: inline-block;
        margin-left: 40%;
    }

    .main-home section .descripcion-home {
        font-size: var(--descripciones);
        margin-top: 10px;
        /* display: none; */
    }






    .main-home section .ofertas {
        width: 0px;
    }
}

@media (min-width:770px) {
    /*MAIN*/

    .main-home {

        justify-content: center;

        /* display: flex; */

        /* flex-wrap: wrap; */

        /* align-content: center; */

        /* flex-grow: 1; */

        /* width: 100%; */
    }

    .main-home section {
        background-color: var(--Grisclaro);
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .main-home section h4 {
        /* height: 0px; */
        /* margin-bottom: 2px; */
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        font-size: var(--titulares);
    }

    .main-home section article {
        position: relative;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 22%;
        padding: 15px;
        margin: 19px 10px;
        background-color: white;
    }

    .main-home section article img {
        width: 100%;
    }


    .main-home section article div {
        width: 33px;
        height: 33px;
        border: 1px solid var(--Verde);
        border-radius: 50%;
        margin-left: 88%;
        text-align: center;
    }

    .main-home section article div i {
        display: block;
        font-size: 16px;
        padding: 5px;

        background-color: #FFF;
        color: var(--Verde);
        margin: 3px;
    }

    .precios-home {
        font-size: var(--precios);
        /* display: inline-block; */
    }

    .main-home section .descuentos-home {
        position: absolute;
        right: 5px;
        font-size: var(--descuentos);
        color: var(--Verde);
        font-weight: lighter;
        display: inline-block;
        /* margin-left: 40%; */
    }

    .main-home section .descripcion-home {
        font-size: var(--descripciones);
        margin-top: 10px;
        /* display: none; */
    }






    .main-home section .ofertas {
        width: 0px;
    }
}